google-auth
google-api-python-client
google-genai
pydantic
typing-extensions
redis[asyncio]
fastapi
uvicorn
watchfiles
websockets
firebase-admin
python-multipart
google-auth-oauthlib<1.2.0
numpy
colorlog
python-dotenv
aiohttp
pyrebase4
